*{
    margin: 0;
    padding: 0;
}




body{
        /* Omolon CSS Linear Gradient Background */
    background: #091E3A;
    background: linear-gradient(
        to right,
        #091E3A,#2F80ED,#2D9EE0
    );
    padding: 20px;
    margin: 0px;

    
}

.inputs{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px;
}

#name{
    border-radius: 10px;
    height: 20px;
    box-shadow: 10px;
    

}

.inputs input{
padding: 10px;
border:2px solid ;
border-radius: 5px;
font-size: 14px;
}

#btn{
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

#btn:hover{
    background-color: #45a049;
}

.list{
    max-width: 400px;
    margin: 15px;
    padding: 10px;
    list-style: none;
}

.list h2{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 5px;
}